{% block vue_modal %}
{% csrf_token %}
<div id="buscador-clientes-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="buscador-clientes-modal-label">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Buscador de Clientes</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" @click="close()"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
        <table>
          <tr>
            <td>Buscar por Código</td>
            <td><input type="text" class="allownumericwithoutdecimal" style="margin: 0px 5px;" ></td>
            <td><button type="button" class="btn btn-default" @click="listar_resultados('codigo')">Buscar</td>
          </tr>
          <tr>
            <td>Buscar por Nombre</td>
            <td><input type="text" style="margin: 0px 5px;"></td>
            <td><button type="button" class="btn btn-default" @click="listar_resultados('nombre')">Buscar</td>
            <td></td>
          </tr>
        </table>

        <br>
        <table class="resultados" style="width: 75%">
          <tbody>
          </tbody>
        </table>

      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>

<script type="application/javascript">
new Vue({
    el: "#buscador-clientes-modal",
    delimiters: ['${', '}'],
    components: {},
    methods: {
      listar_resultados(tipo_de_busqueda) {
        if(tipo_de_busqueda == 'nombre') {
          var nombre = $('#buscador-clientes-modal .modal-body table tr:nth-child(2) td:nth-child(2) input').val()
            if(nombre.length < 3) {
              alert("La búsqueda debe de contener al menos 3 caracteres")
            } else {
              axios({
                method:'get',
                url: `/lubricentro_myc/clientes/buscar?nombre=` + nombre,
              }).then(response => {
                var resultados = $('#buscador-clientes-modal .modal-body .resultados tbody')[0]
                resultados.innerHTML = ``

                var clientes = response.data.clientes
                for(var cliente in clientes) {
                  var codigo = clientes[cliente].codigo;
                  var nombre = clientes[cliente].nombre;
                  resultados.innerHTML += `
                    <tr>
                      <td style="padding: 5px; width=25%">` + codigo + `</td>
                      <td style="width: 50%">` + this.titleCase(nombre) + `</td>
                      <td style="width: 25%"><button type="button" class="btn btn-default" data-dismiss="modal" onClick="$(this).addClass('cli-selected');"">Seleccionar</button></td>
                    </tr>
                  `
                }
              }).catch(function (error) {
                console.error(error);
              })
            }
          } else if(tipo_de_busqueda == 'codigo') {
            var codigo = $('#buscador-clientes-modal .modal-body table tr:nth-child(1) td:nth-child(2) input').val()
            axios({
              method:'get',
              url: `/lubricentro_myc/clientes/` + codigo,
            }).then(response => {
              var resultados = $('#buscador-clientes-modal .modal-body .resultados tbody')[0]
              resultados.innerHTML = ``
              var codigo = response.data['id'];
              var nombre = response.data['nombre'];
              resultados.innerHTML += `
                <tr>
                  <td style="padding: 5px; "width: 25%">` + codigo + `</td>
                  <td style="width: 50%">` + this.titleCase(nombre) + `</td>
                  <td style="width: 25%"><button type="button" class="btn btn-default" data-dismiss="modal" onClick="$(this).addClass('cli-selected');"">Seleccionar</button></td>
                </tr>
              `
            }).catch(function (error) {
              console.error(error);
            })
          }
      },
      close() {
        // este if consulta si seleccione algun cliente, deberia de fijarme en que vista estoy, si
        // en ventas o en facturacion de remitos, para ver donde agrego los datos del cliente
        if($('.cli-selected').length > 0) {
          var codigo = $('#buscador-clientes-modal .modal-body .resultados tbody tr:has(td .cli-selected) td:nth-child(1)').text();
          var nombre = $('#buscador-clientes-modal .modal-body .resultados tbody tr:has(td .cli-selected) td:nth-child(2)').text();
          if ($('#ventas').length > 0) {
            $('.resumen-venta tr:nth-child(2) td:nth-child(1) input')[0].value = codigo
            $('.resumen-venta tr:nth-child(2) td:nth-child(1) input')[1].value = nombre
            $('.resumen-venta tr:nth-child(2) td:nth-child(2) button')[1].hidden = false
          } else if ($('#remitos_facturacion').length > 0) {
            $('.operaciones tr:nth-child(2) td:nth-child(2) input')[0].value = codigo
            $('.operaciones tr:nth-child(3) td:nth-child(2) input')[0].value = nombre
            $('.operaciones tr:nth-child(4) td:nth-child(2) button')[0].disabled = false
          }
        }
        $('#buscador-clientes-modal .modal-body table tr:nth-child(1) td:nth-child(2) input').val("")
        $('#buscador-clientes-modal .modal-body table tr:nth-child(2) td:nth-child(2) input').val("")
        $('#buscador-clientes-modal .modal-body .resultados tbody')[0].innerHTML = ``
      },
      titleCase(str) {
        var splitStr = str.toLowerCase().split(' ');
        for (var i = 0; i < splitStr.length; i++) {
            splitStr[i] = splitStr[i].charAt(0).toUpperCase() + splitStr[i].substring(1);     
        }
        return splitStr.join(' '); 
      }
    },
    data: {},
    mounted() {
      axios.defaults.xsrfHeaderName = "X-CSRFToken";
      axios.defaults.xsrfCookieName = "XCSRF-TOKEN";

      $('#buscador-clientes-modal').on('hidden.bs.modal', this.close);
    }
  })
</script>

{% endblock %}