{% block vue_modal %}
{% csrf_token %}
<div id="crear-usuario-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="crear-usuario-modal-label">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Crear Nuevo Usuario</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" @click="close()"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
        <table>
          <tr>
            <td>Nombre de Usuario</td>
            <td><input type="text"></td>
          </tr>
          <tr>
            <td>Email</td>
            <td><input type="email"></td>
          </tr>
          <tr>
            <td>Contraseña</td>
            <td><input type="password"></td>
          </tr>
          <tr>
            <td>Confirmar Contraseña</td>
            <td><input type="password"></td>
          </tr>
        </table>
      </div>
      <div class="modal-footer">
        <p style="margin:auto auto"></p>
        <button type="button" class="btn btn-default" @click="save()">Crear</button>
      </div>
    </div>
  </div>
</div>

<script type="application/javascript">
new Vue({
    el: "#crear-usuario-modal",
    delimiters: ['${', '}'],
    components: {},
    methods: {
      save() {
        var contraseña1 = $('#crear-usuario-modal .modal-body table tr:nth-child(3) td input').val();
        var contraseña2 = $('#crear-usuario-modal .modal-body table tr:nth-child(4) td input').val();
        var texto_resultado = $('#crear-usuario-modal .modal-footer p')
        
        if(contraseña1 == contraseña2) {
          var nombre = $('#crear-usuario-modal .modal-body table tr:nth-child(1) td input').val();
          var email = $('#crear-usuario-modal .modal-body table tr:nth-child(2) td input').val();
          if(nombre != "" && email != "") {
            let usuario = {
              nombre : nombre,
              email : email,
              password : contraseña1
            }
            let opts = {
              headers: {
                "X-CSRFToken": jQuery("[name=csrfmiddlewaretoken]").val(),
              }
            }
            axios.post("/lubricentro_myc/crear_usuario/", usuario, opts)
              .then((response)=> {
                texto_resultado.css("color","green")
                texto_resultado.css("font-weight","bold")
                texto_resultado.text("Ok: Creado Satisfactoriamente")
                $('.modal-footer button').prop('disabled',true);
              }
              ).catch((error) => {
                texto_resultado.css("color","red")
                texto_resultado.css("font-weight","bold")
                texto_resultado.text("Error!")
              }
            )
          } else {
            texto_resultado.css("color","red")
            texto_resultado.css("font-weight","bold")
            texto_resultado.text("Campos incompletos")
          }
        } else {
          texto_resultado.css("color","red")
          texto_resultado.css("font-weight","bold")
          texto_resultado.text("Las contraseñas no coinciden")
        }
      },
      close() {
        window.location.reload();
      }
    },
    data: {
    },
    mounted() {
      axios.defaults.xsrfHeaderName = "X-CSRFToken";
      axios.defaults.xsrfCookieName = "XCSRF-TOKEN";

      $('#crear-usuario-modal').on('hidden.bs.modal', this.close);
    }
  })
</script>

{% endblock %}