{% block vue_modal %}
{% csrf_token %}
<div id="producto-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="producto-modal-label">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title"></h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" @click="close()"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
        <table>
          <tr>
            <td>Código</td>
            <td><input readonly type="text"></td>
          </tr>
          <tr>
            <td>Detalle</td>
            <td><input type="text"></td>
          </tr>
          <tr>
            <td>Stock</td>
            <td><input type="text"></td>
          </tr>
          <tr>
            <td>Precio Costo</td>
            <td><input type="text"></td>
          </tr>
          <tr>
            <td>Desc. 1</td>
            <td><input type="text"></td>
          </tr>
          <tr>
            <td>Desc. 2</td>
            <td><input type="text"></td>
          </tr>
          <tr>
            <td>Desc. 3</td>
            <td><input type="text"></td>
          </tr>
          <tr>
            <td>Desc. 4</td>
            <td><input type="text"></td>
          </tr>
          <tr>
            <td>Flete</td>
            <td><input type="text"></td>
          </tr>
          <tr>
            <td>Ganancia</td>
            <td><input type="text"></td>
          </tr>
          <tr>
            <td>Iva</td>
            <td><input type="text"></td>
          </tr>
          <tr>
            <td>Agregado Cta. Cte.</td>
            <td><input type="text"></td>
          </tr>
          <tr>
            <td>Precio Venta Contado</td>
            <td><input readonly type="text"></td>
          </tr>
          <tr>
            <td>Precio Venta Cta. Cte.</td>
            <td><input readonly type="text"></td>
          </tr>
          <tr>
            <td>Categoría</td>
            <td><select>
                  {% for item in categorias %}
                      <option value="{{ item.categoria }}">{{ item.categoria }}</option>
                  {% endfor %}
                </select>
            <td>
          </tr>
        </table>
      </div>
      <div class="modal-footer">
        <p style="margin:auto auto"></p>
        <button type="button" class="btn btn-default" @click="edit()">Guardar</button>
      </div>
    </div>
  </div>
</div>

<script type="application/javascript">
new Vue({
    el: "#producto-modal",
    delimiters: ['${', '}'],
    components: {},
    methods: {
      edit() {
        var producto = {
          detalle : $('#producto-modal .modal-body table tr:nth-child(2) td input').val(),
          stock : $('#producto-modal .modal-body table tr:nth-child(3) td input').val(),
          precio_costo : $('#producto-modal .modal-body table tr:nth-child(4) td input').val(),
          desc1 : $('#producto-modal .modal-body table tr:nth-child(5) td input').val(),
          desc2 : $('#producto-modal .modal-body table tr:nth-child(6) td input').val(),
          desc3 : $('#producto-modal .modal-body table tr:nth-child(7) td input').val(),
          desc4 : $('#producto-modal .modal-body table tr:nth-child(8) td input').val(),
          flete : $('#producto-modal .modal-body table tr:nth-child(9) td input').val(),
          ganancia : $('#producto-modal .modal-body table tr:nth-child(10) td input').val(),
          iva : $('#producto-modal .modal-body table tr:nth-child(11) td input').val(),
          agregado_cta_cte : $('#producto-modal .modal-body table tr:nth-child(12) td input').val(),
          precio_venta_contado : $('#producto-modal .modal-body table tr:nth-child(13) td input').val(),
          precio_venta_cta_cte : $('#producto-modal .modal-body table tr:nth-child(14) td input').val(),
          categoria : $('#producto-modal .modal-body table tr:nth-child(15) td select').val(),
        }
        var codigo = $('#producto-modal .modal-body table tr:nth-child(1) td input').val();
        var texto_resultado = $('#producto-modal .modal-footer p')
        let opts = {
          headers: {
            "X-CSRFToken": jQuery("[name=csrfmiddlewaretoken]").val(),
          }
        }
        if ($('.nuevo-producto').length != 0) {
          axios.post("/lubricentro_myc/productos/", producto, opts)
            .then((response)=> {
              texto_resultado.css("color","green")
              texto_resultado.css("font-weight","bold")
              texto_resultado.text("Ok: Creado Satisfactoriamente")
            }
            ).catch((error) => {
              texto_resultado.css("color","red")
              texto_resultado.css("font-weight","bold")
              texto_resultado.text("Error!")
            }
          )
        } else if ($('.prod-selected').length != 0) {
          axios.patch("/lubricentro_myc/productos/" + codigo + "/", producto, opts)
            .then((response)=> {
              texto_resultado.css("color","green")
              texto_resultado.css("font-weight","bold")
              texto_resultado.text("Ok: Guardado Satisfactoriamente")
            }
            ).catch((error) => {
              texto_resultado.css("color","red")
              texto_resultado.css("font-weight","bold")
              texto_resultado.text("Error!")
            }
          )
        }
      },
      close() {
        $('#producto-modal .modal-footer p').text("");
        $('.nuevo-producto').removeClass('nuevo-producto');
        $('.prod-selected').removeClass('prod-selected');
      },
    },
    data: {
    },
    mounted() {
      axios.defaults.xsrfHeaderName = "X-CSRFToken";
      axios.defaults.xsrfCookieName = "XCSRF-TOKEN";

      $('#producto-modal').on('hidden.bs.modal', this.close);
    }
  })
</script>

{% endblock %}