
body {
    background-color: #E4E9E3;
    font-family: Arial, Helvetica, sans-serif;
}

button {
    background-color: #F0AD14!important;
    color: #E4E9E3;
}

/* encabezado */

#encabezado {
    margin: 30px 10px;
}

#encabezado header img {
    max-height: 30px;
    margin: 10px;
}

#encabezado .menu {
    padding: 20px 10px 0px 0px;
}

#encabezado .menu ul {
    display: inline-block;
}

#encabezado .menu li {
    background-color: #F0AD14;
    list-style-type: none;
    border: 1px solid white;
}

#encabezado .menu li a {
    color: white;
    padding: 10px;
}

/* inventario y clientes */

#productos h1, #clientes h1 {
    text-align: center;
}

.operaciones {
    margin: 30px auto;
    padding: 10px;
}

.operaciones input, .operaciones select {
    width: 95%;
}

#productos .operaciones tr:nth-child(4) td button,
#clientes .operaciones tr:nth-child(3) td button,
#clientes .operaciones tr:nth-child(4) td button {
    margin-top: 10px;
    padding: 0!important;
    width: 100%;
}

.productos-table, .clientes-table {
    margin: 30px auto;
    margin-top: 25px;
    width: 80%;
    border-collapse: collapse;
    border: 1px solid black;
}

.productos-table thead, .productos-table td,
.clientes-table thead, .clientes-table td {
    border: 1px solid black;
}

.productos-table thead td, .clientes-table thead td {
    height: 50px;
}

.productos-table button, .clientes-table button {
    padding: 4px;
    border-radius: 10%;
    border: none;
    width: 100%;
}

/* producto_modal */

.modal-body table {
    margin: 0px auto;
}

.modal-body table tr td input, .modal-body table tr td select {
    margin-left: 20px;
}

