
body {
    background-color: #E4E9E3;
    font-family: Arial, Helvetica, sans-serif;
}

button {
    background-color: #F0AD14!important;
    color: #212529db!important;
    padding: 5px!important;
    border: 1px solid #212529db!important;
}

/* encabezado */

#encabezado {
    background: linear-gradient(to bottom, #F0AD14 90%, #E4E9E3);
    margin: 30px 10px;
    margin-left: -10px;
    width: 120%;
}

#encabezado header {
    margin-top: -30px;
}

#encabezado header img {
    max-height: 30px;
    margin: 20px;
}

#encabezado .menu {
    padding: 15px 0px;
}

#encabezado .menu ul {
    display: inline-block;
}

#encabezado .menu li {
    background-color: #E4E9E3;
    display: inline-block;
    list-style-type: none;
}

#encabezado .menu li a {
    color: black;
    padding: 10px;
}

/* ventas */

.carrito-table {
    margin: 30px auto;
    margin-top: 25px;
    width: 50%;
    border-collapse: collapse;
}

.carrito-table thead td {
    padding: 5px;
    border: 1px solid black;    
}

.resumen-venta {
    margin: 30px auto;
    width: 50%;
}

.resumen-venta tr:nth-child(1) td:nth-child(1){
    float: left;
    display: block;
}

.resumen-venta tr:nth-child(1) td:nth-child(1) input {
    margin-bottom: 15px;
}

.resumen-venta tr:nth-child(1) td:nth-child(2) span {
    float: right;
}

.resumen-venta tr:nth-child(1) td:nth-child(2) span input {
    width: 80px; 
    margin-left: 10px;
}

/* ventas, inventario, clientes y remitos */

#ventas h1, #productos h1, #clientes h1, #remitos h1, #historial-ventas h1 {
    margin-top: 20px;
    text-align: center;
}

.operaciones {
    margin: 30px auto;
    padding: 10px;
}

.operaciones input, .operaciones select {
    width: 95%;
}

#ventas .operaciones tr:nth-child(2) td button,
#productos .operaciones tr:nth-child(4) td button,
#clientes .operaciones tr:nth-child(3) td button,
#clientes .operaciones tr:nth-child(4) td button {
    margin-top: 10px;
    width: 100%;
}

.productos-table, .clientes-table, .remitos-table, .ventas-table {
    margin: 30px auto;
    margin-top: 25px;
    width: 80%;
    border-collapse: collapse;
    border: 1px solid black;
}

.remitos-table {
    width: 40%;
}

.productos-table thead, .productos-table td,
.clientes-table thead, .clientes-table td,
.remitos-table thead, .remitos-table td,
.ventas-table thead, .ventas-table td {
    text-align: center;
    padding: 1px;
    border: 1px solid black;
}

.productos-table button, .clientes-table button, .remitos-table button {
    padding: 5px;
    border-radius: 10%;
    border: none;
    width: 100%;
}

/* modales */

.modal-body table {
    margin: 0px auto;
}

.modal-body table tr td input, .modal-body table tr td select {
    margin-left: 20px;
}

.carrito-table tbody tr td input {
    width: 100%;
}