{% load static %}

{% block content %}
    <head>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.js"></script>
        
        <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">

        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"/>
        <script src="{% static 'js/arithmetic_operations.js' %}"></script>
    </head>
    <body>
        <div id="encabezado">
            <header>
                <h1>Lubricentro M&C</h1>
            </header>
            <nav class="menu">
                <ul>
                    <li><a href="/lubricentro_myc/ventas">Ventas</a></li>
                    <li><a href="/lubricentro_myc/inventario">Inventario de Productos</a></li>
                    <li><a href="/lubricentro_myc/listado_clientes">Listado de Clientes</a></li>
                    <li class="nav-item dropdown">
                        <a class=" dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          Remitos
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                          <a href="/lubricentro_myc/remitos">Ver</a>
                          <br>
                          <a href="/lubricentro_myc/remitos_facturacion">Facturación</a>
                        </div>
                    </li>
                    <li><a href="/lubricentro_myc/ventas_historial">Historial de Ventas</a></li>
                    <li><a href="/lubricentro_myc/acciones_csv">CSV's</a></li>
                    <li><a href="{% url 'logout' %}?next=/accounts/login">Cerrar Sesión ({{ request.user }})</a></li>
                </ul>
            </nav>
        </div>
    </body>
{% endblock %}