{% load static %}

{% include "encabezado.html" %}

{% block content %}
    <body>
        <div id="productos">

            <h1>Productos</h1>
            
            <table class="operaciones">
                <tr>
                    <td>Buscar por Código</td>
                    <td><input type="text" id="codigo" class='allownumericwithoutdecimal' style="margin: 0px 5px;"></td>
                    <td><button onClick="buscar_producto('codigo')">Buscar</button></td>
                </tr>
                <tr>
                    <td>Buscar por Detalle</td>
                    <td><input type="text" id="detalle" style="margin: 0px 5px;"></td>
                    <td><button onClick="buscar_producto('detalle')">Buscar</button></td>
                </tr>
                <tr>
                    <td>Buscar por Categoría</td>
                    <td>
                        <select style="margin: 0px 5px;">
                            <option value=""></option>
                            {% for item in categorias %}
                                <option value="{{ item.categoria }}">{{ item.categoria }}</option>
                            {% endfor %}
                        </select>
                    </td>
                    <td><button onClick="buscar_producto('categoria')">Buscar</button></td>
                </tr>
                <tr>
                    <td></td>
                    <td><button type="button" class="btn btn-primary vue-btn"  data-toggle="modal" data-target="#producto-modal" onClick="$(this).addClass('nuevo-producto');">Ingresar Nuevo Producto</button><td>
                    <td></td>
                </tr>
            </table>

            <table class="productos-table">
                <thead>
                    <td style="width: 10%;">Código</td>
                    <td style="width: 35%;">Detalle</td>
                    <td style="width: 10%;">Stock</td>
                    <td style="width: 10%;">Precio Costo</td>
                    <td style="width: 10%;">Precio Venta Contado</td>
                    <td style="width: 10%;">Precio Vta Cta. Cte.</td>
                    <td style="width: 15%;">Categoría</td>
                </thead>
                {% for obj in object_list %}
                    <tr>
                        <td>{{ obj.codigo }}</td>
                        <td>{{ obj.detalle }}</td>
                        <td>{{ obj.stock }}</td>
                        <td>{{ obj.precio_costo }}</td>
                        <td>{{ obj.precio_venta_contado }}</td>
                        <td>{{ obj.precio_venta_cta_cte }}</td>
                        <td>{{ obj.categoria }}</td>
                        <td style="display:none;">{{ obj.desc1 }}</td>
                        <td style="display:none;">{{ obj.desc2 }}</td>
                        <td style="display:none;">{{ obj.desc3 }}</td>
                        <td style="display:none;">{{ obj.desc4 }}</td>
                        <td><button type="button" class="btn btn-primary vue-btn" data-toggle="modal" data-target="#producto-modal" onClick="$(this).addClass('prod-selected');">Editar</button></td>
                    </tr>
                {% endfor %}
            </table>

        </div>
    </body>

    <script type="text/javascript">

        function reload_js(){
          var head= document.getElementsByTagName('head')[0];
          var script= document.createElement('script');
          script.src= "{% static 'js/script.js' %}";
          head.appendChild(script);
        }

        reload_js();

        function buscar_producto(tipo_busqueda) {
            var valor;
            if (tipo_busqueda == 'categoria') {
                valor = $('.operaciones select').val()
            } else {
                valor = document.getElementById(tipo_busqueda).value;
            }
            window.location.href = "{{ url }}?" + tipo_busqueda + "=" + valor;
        }
        
        $(function(){
            $( "#producto-modal" ).on('show.bs.modal', function(){
                if ($('.nuevo-producto').length != 0) {
                    $('#producto-modal .modal-header .modal-title').text("Ingresar Producto")
                    $('#producto-modal .modal-body table tr:nth-child(1) td input').val("");
                    $('#producto-modal .modal-body table tr:nth-child(2) td input').val("");
                    $('#producto-modal .modal-body table tr:nth-child(3) td input').val("0");
                    $('#producto-modal .modal-body table tr:nth-child(4) td input').val("0.0");
                    $('#producto-modal .modal-body table tr:nth-child(5) td input').val("0.0");
                    $('#producto-modal .modal-body table tr:nth-child(6) td input').val("0.0");
                    $('#producto-modal .modal-body table tr:nth-child(7) td input').val("0.0");
                    $('#producto-modal .modal-body table tr:nth-child(8) td input').val("0.0");
                    $('#producto-modal .modal-body table tr:nth-child(9) td input').val("0.0");
                    $('#producto-modal .modal-body table tr:nth-child(10) td input').val("0.0");
                    $('#producto-modal .modal-body table tr:nth-child(11) td select').val("");
                } else if ($('.prod-selected').length != 0) {
                    $('#producto-modal .modal-header .modal-title').text("Editar Producto")
                    var codigo = $('.productos-table tr:has(.prod-selected) td:nth-child(1)')[0].innerText;
                    var detalle = $('.productos-table tr:has(.prod-selected) td:nth-child(2)')[0].innerText;
                    var stock = $('.productos-table tr:has(.prod-selected) td:nth-child(3)')[0].innerText;
                    var precioCosto = $('.productos-table tr:has(.prod-selected) td:nth-child(4)')[0].innerText;
                    var precioVentaContado = $('.productos-table tr:has(.prod-selected) td:nth-child(5)')[0].innerText;
                    var precioVentaCtaCte = $('.productos-table tr:has(.prod-selected) td:nth-child(6)')[0].innerText;
                    var categoria = $('.productos-table tr:has(.prod-selected) td:nth-child(7)')[0].innerText;
                    var desc1 = $('.productos-table tr:has(.prod-selected) td:nth-child(8)')[0].innerText;
                    var desc2 = $('.productos-table tr:has(.prod-selected) td:nth-child(9)')[0].innerText;
                    var desc3 = $('.productos-table tr:has(.prod-selected) td:nth-child(10)')[0].innerText;
                    var desc4 = $('.productos-table tr:has(.prod-selected) td:nth-child(11)')[0].innerText;
                    $('#producto-modal .modal-body table tr:nth-child(1) td input').val(codigo);
                    $('#producto-modal .modal-body table tr:nth-child(2) td input').val(detalle);
                    $('#producto-modal .modal-body table tr:nth-child(3) td input').val(stock);
                    $('#producto-modal .modal-body table tr:nth-child(4) td input').val(precioCosto);
                    $('#producto-modal .modal-body table tr:nth-child(5) td input').val(precioVentaContado);
                    $('#producto-modal .modal-body table tr:nth-child(6) td input').val(precioVentaCtaCte);
                    $('#producto-modal .modal-body table tr:nth-child(7) td input').val(desc1);
                    $('#producto-modal .modal-body table tr:nth-child(8) td input').val(desc2);
                    $('#producto-modal .modal-body table tr:nth-child(9) td input').val(desc3);
                    $('#producto-modal .modal-body table tr:nth-child(10) td input').val(desc4);
                    $('#producto-modal .modal-body table tr:nth-child(11) td select').val(categoria);
                }
            });
        });

        reload_js();

    </script>

{% endblock %}

{% include "producto_modal.html" %}