{% include "encabezado.html" %}
{% load static %}

{% block content %}
    <head>
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    </head>
    
    <h1>Productos</h1>
    <body id="productos">
        <table class="tipos_de_busqueda">
            <tr>
                <td style="margin-right: 10px;">Buscar por Código</td>
                <td><input type="text" id="codigo" style="margin: 0px 5px;"></td>
                <td><button onClick="buscar_producto('codigo')">Buscar</button></td>
            </tr>
            <tr>
                <td style="margin-right: 10px;">Buscar por Detalle</td>
                <td><input type="text" id="detalle" style="margin: 0px 5px;"></td>
                <td><button onClick="buscar_producto('detalle')">Buscar</button></td>
            </tr>
            <tr>
                <td>Buscar por Categoría</td>
                <td><input type="text" id="categoria" style="margin: 0px 5px;"></td>
                <td><button onClick="buscar_producto('categoria')">Buscar</button></td>
            </tr>
        </table>
        <table class="productos-table">
            <thead>
                <td>Código</td>
                <td>Detalle</td>
                <td>Stock</td>
                <td>Precio Costo</td>
                <td>Precio Venta Contado</td>
                <td>Precio Vta Cta. Cte.</td>
                <td>Categoría</td>
            </thead>
            {% for obj in object_list %}
                <tr>
                    <td>{{ obj.codigo }}</td>
                    <td>{{ obj.detalle }}</td>
                    <td>{{ obj.stock }}</td>
                    <td>{{ obj.precio_costo }}</td>
                    <td>{{ obj.precio_venta_contado }}</td>
                    <td>{{ obj.precio_venta_cta_cte }}</td>
                    <td>{{ obj.categoria }}</td>
                    <td><button type="button">Editar</button></td>
                </tr>
            {% endfor %}
        </table>
    </body>

    <script type="text/javascript">
        function buscar_producto(tipo_busqueda) {
            var valor = document.getElementById(tipo_busqueda).value;
            if (tipo_busqueda == 'codigo') {
                if (isNaN(valor) || valor=="") {
                    alert("Código debe ser un número");
                    return
                }
            }
            window.location.href = "{{ url }}?" + tipo_busqueda + "=" + valor;
        }
        // chequear que si codigo tiene caracteres que no son numeros
        // deberia saltar un alert. Chequear tambien que ese Producto
        // exista en la base de datos. Retorna vacio o alert si no
        // existe.
        // Buscar como funcionan los form para cuando quiera hacer un
        // insert producto.
    </script>

{% endblock %}