{% load static %}
{% csrf_token %}

{% include "encabezado.html" %}

{% block content %}
    <body>
        <div id="remitos_edicion">

            <h1>Edición de Remito</h1>
            
            <table class="operaciones">
                <tr>
                    <td>Código de Remito</td>
                    <td><input type="text" id="codigo" class='allownumericwithoutdecimal' style="margin: 0px 5px;"></td>
                    <td><button class="btn btn-default" onClick="buscar_remito()">Buscar</button></td>
                </tr>
            </table>
            
            {% if nro_remito %}
                <div style="text-align: center">
                    <p style="font-weight: bold">Remito n° {{ nro_remito }}</p>
                </div>
            {% endif %}
            
            <table class="remitos-edicion-table data-section" style="width: 60%">
                <thead>
                    <td style="width: 10%">Producto: Código</td>
                    <td style="width: 85%">Producto: Detalle</td>
                    <td style="width: 10%">Cantidad</td>
                </thead>
                {% for obj in object_list %}
                    <tr>
                        <td hidden><input type="number" value="{{obj.id }}"></td>
                        <td>{{ obj.producto_id }}</td>
                        <td>{{ obj.producto_detalle }}</td>
                        <td><input type="text" class='allownumericwithdecimal' style="text-align: center" value="{{ obj.cantidad }}"></td>       
                    </tr>
                {% endfor %}
            </table>
            <div class="resultado" style="text-align: center">
               <p hidden></p> 
            </div>
            <table class="operaciones">
                <tr>
                    <td></td>
                    <td><button id="guardar-remito" class="btn btn-default" onClick="guardar_remito()">Guardar Cambios</button><td>
                    <td></td>
                </tr>
            </table>
        </div>
    </body>
    <script type="text/javascript">

        function reload_js(){
          var head= document.getElementsByTagName('head')[0];
          var script= document.createElement('script');
          script.src= "{% static 'js/arithmetic_operations.js' %}";
          head.appendChild(script);
        }

        reload_js();

        function buscar_remito() {
            var codigo = document.getElementById('codigo');
            if(codigo.value != '') {
                window.location.href = "{{ url }}?codigo=" + codigo.value;
            }
        }

        function guardar_remito() {
            var elemento_remito_ids = $('.remitos-edicion-table tbody tr td:nth-child(1) input');
            var cantidades = $('.remitos-edicion-table tbody tr td:nth-child(4) input');
            let lista_elementos = [];
            for(var i = 0; i < elemento_remito_ids.length; i++) {
                let elemento = {};
                elemento['id'] = elemento_remito_ids[i].value;
                elemento['cantidad'] = cantidades[i].value;
                lista_elementos.push(elemento);
            }
            elementos = {}
            elementos['elementos'] = lista_elementos
            let opts = {
                headers: {
                    "X-CSRFToken": jQuery("[name=csrfmiddlewaretoken]").val(),
                }
            }
            var texto_resultado = $('.resultado p');
            axios.post("/lubricentro_myc/elementos_remito/modificar/", elementos, opts)
            .then((response)=> {
                texto_resultado.css("color","green");
                texto_resultado.css("font-weight","bold");
                texto_resultado.text("Cambios guardados correctamente");
                texto_resultado.attr("hidden", false);
                $('#guardar-remito').attr("disabled", true)
            }).catch((error) => {
                texto_resultado.css("hidden","false");
                texto_resultado.css("color","red");
                texto_resultado.css("font-weight","bold");
                texto_resultado.text("Se ha producido un error al guardar los cambios");
                texto_resultado.attr("hidden", false)
            })
        }

    </script>
{% endblock %}

{% include "footer.html" %}