{% load static %}
{% csrf_token %}

{% include "encabezado.html" %}

{% block content %}
    <body>
        <div id="remitos_facturacion">

            <h1>Facturación de Remitos</h1>

            <table class="operaciones">
                <tr>
                    <td></td>
                    <td><button type="button" class="btn btn-primary vue-btn" data-toggle="modal" data-target="#buscador-clientes-modal" style="margin: 10px;">Buscar Cliente</button><td>
                    <td></td>
                </tr>
                <tr>
                    <td>Código</td>
                    <td><input type="text" readonly style="margin-left: 5px"></td>
                </tr>
                <tr>
                    <td>Nombre</td>
                    <td><input type="text" readonly style="margin-left: 5px"></td>
                </tr>
                <tr>
                    <td></td>
                    <td><button disabled class="btn btn-default" onClick="listar_productos()" style="margin: 10px;">Listar Productos</button><td>
                    <td></td>
                </tr>
            </table>

            <table class="resumen-productos">
                <thead>
                    <td style="width: 10%;">Código</td>
                    <td style="width: 60%;">Detalle</td>
                    <td style="width: 10%;">Precio Cta. Cte.</td>
                    <td style="width: 5%;">Cantidad</td>
                    <td style="width: 15%;">Total</td>
                    <td style="border: none!important; padding: 20px" onClick="all_checkboxes()"><input class="principal-checkbox" type="checkbox"></td>
                    <td hidden></td>
                    <td style="border: none!important"></td>
                </thead>
                <tbody>
                </tbody>
            </table>

        </div>
    </body>

    <script type="text/javascript">
        
        function listar_productos() {
            var codigo = $('.operaciones tr:nth-child(2) td:nth-child(2) input')[0].value
            axios({
                method:'get',
                url: `/lubricentro_myc/elementos_remito/buscar?codigo=` + codigo,
            }).then(response => {
                var resumen_productos = $('.resumen-productos tbody')[0]
                resumen_productos.innerHTML = ``
                for(var elemento_remito in response.data.elementos_remito) {
                    var elem = response.data.elementos_remito[elemento_remito]
                    resumen_productos.innerHTML += `
                        <tr>
                            <td><input readonly type="text" value="` + elem['codigo'] + `" style="padding: 2px"></td>
                            <td><input readonly type="text" value="` + elem['detalle'] + `" style="padding: 2px"></td>
                            <td><input readonly type="text" value="` + elem['precio_cta_cte'] + `" style="padding: 2px"></td>
                            <td><input readonly type="text" value="` + elem['cantidad'] + `" style="padding: 2px"></td>
                            <td><input readonly type="text" value="` + (elem['precio_cta_cte'] * elem['cantidad']).toFixed(2) + `" style="padding: 2px"></td>
                            <td><input type="checkbox" onClick="actualizar_total()"></td>
                            <td><input hidden type="text" value="` + elem['elem_remito'] + `"></td>
                            <td><button class="boton-remito" onClick="abrir_remito(` + elem['remito'] + `)">Remito n°` + elem['remito'] + `</button></td>
                        </tr>
                    `
                }

                resumen_productos.innerHTML += `
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td><button id="facturar" class="btn btn-default" onClick="facturar()" style="margin: 10px">Facturar</button></td>
                        <td><input id="total" readonly type="text" value="0" style="padding: 2px; width: 100px"></td>
                    </tr>
                `

            }).catch(function (error) {
                console.error(error);
            })
        }

        function facturar() {
            if(confirm("¿Facturar Productos Seleccionados?")) {
                // crear "ventas" 
                var productos = $('.resumen-productos tbody td:nth-child(1) input')
                var cantidades = $('.resumen-productos tbody td:nth-child(4) input')
                var precios = $('.resumen-productos tbody td:nth-child(5) input')
                var checkboxes = $('.resumen-productos tbody td:nth-child(6) input')
                var elem_remito_ids = $('.resumen-productos tbody td:nth-child(7) input')
                let opts = {
                    headers: {
                        "X-CSRFToken": jQuery("[name=csrfmiddlewaretoken]").val(),
                    }
                }
                var i;
                for(i = 0; i < productos.length; i++) {
                    if(checkboxes[i].checked) {
                        venta = {}
                        venta['producto'] = productos[i].value
                        venta['cantidad'] = cantidades[i].value
                        venta['precio'] = precios[i].value
                        axios.post("/lubricentro_myc/ventas_realizadas/", venta, opts)
                        .then((response)=> {
                        }).catch((error) => {}
                        )
                        elem_remito = {}
                        elem_remito['id'] = elem_remito_ids[i].value
                        axios.post("/lubricentro_myc/elementos_remito/marcar_pagado/", elem_remito, opts)
                        .then((response)=> {
                        }).catch((error) => {}
                        )
                    }
                }
            }
            $('#facturar').attr("disabled", true);
        }

        function all_checkboxes() {
            var checkbox = $('.resumen-productos .principal-checkbox')[0]
            if (checkbox.checked) {
                $('.resumen-productos tr td:nth-child(6) input').prop('checked', true)
            } else {
                $('.resumen-productos tr td:nth-child(6) input').prop('checked', false)
            }
            actualizar_total()
        }

        function actualizar_total(checkbox) {
            var total = 0;
            precio_total = $('.resumen-productos tr td:nth-child(5) input')
            checkbox = $('.resumen-productos tr td:nth-child(6) input')
            for (var i=1; i<checkbox.length; i++) {
                if(checkbox[i].checked) {
                    total += parseFloat(precio_total[i-1].value)
                }
            }
            $('#total')[0].value = String(total)
        }

        function abrir_remito(codigo) {
            window.open("{{ host }}/lubricentro_myc/generar_remito_pdf?cod_remito=" + codigo, '_blank');
        }
       
    </script>
    
{% endblock %}

{% include "vue_modal/buscador_clientes_modal.html" %}