{% load static %}

{% include "encabezado.html" %}

{% block content %}
    <body>
        <div id="ventas">
        
            <h1>Ventas</h1>
            
            <table class="operaciones">
              <tr>
                <td>Buscar Producto por Código</td>
                <td><input type="text" id="codigo" class='allownumericwithoutdecimal' style="margin: 0px 5px;"></td>
                <td><button onClick="buscar_producto()">Añadir</button></td>
              </tr>
              <tr>
                <td></td>
                <td><button type="button" class="btn btn-primary vue-btn" data-toggle="modal" data-target="#buscador-productos-modal">Abrir buscador de productos</button><td>
                <td></td>
              </tr>
            </table>

            <table class="resumen-venta">
              <tr> 
                <td>Total</td>
                <td><input readonly ype="text" style="margin-left: 10px"></td>
              </tr>
            </table>

            <table class="carrito-table">
                <thead>
                    <td style="width: 10%;">Código</td>
                    <td style="width: 60%;">Detalle</td>
                    <td style="width: 10%;">Precio</td>
                    <td style="width: 10%;">Cantidad</td>
                    <td style="width: 10%;">Total</td>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>

    </body>

    <script type="text/javascript">

        function reload_js(){
          var head= document.getElementsByTagName('head')[0];
          var script= document.createElement('script');
          script.src= "{% static 'js/script.js' %}";
          head.appendChild(script);
        }
        
        reload_js();

        function buscar_producto() {
            var codigo = document.getElementById('codigo').value
            if (codigo.replace(/\s/g, "") == "") {
              return
            }
            axios({
              method:'get',
              url: `/lubricentro_myc/productos/` + codigo,
            }).then(response => {
              reload_js();
              $('.carrito-table tbody')[0].innerHTML += `
                <tr>
                  <td><input readonly type="text" value="` + response.data['codigo'] +`"></td>
                  <td><input readonly type="text" value="` + response.data['detalle'] + `"></td>
                  <td><input type="text" class='allownumericwithdecimal' value="` + response.data['precio_venta_contado'] + `"></td>
                  <td><input type="text" class='allownumericwithdecimal' value="1.0"></td>
                  <td><input type="text" readonly class='allownumericwithdecimal' value="` + response.data['precio_venta_contado'] + `"></td> 
                </tr>
              `
              $('.operaciones tr:nth-child(1) td input')[0].value = "";
            }).catch(function (error) {
              console.error(error);
            })
        }
    </script>

{% endblock %}

{% include "buscador_productos_modal.html" %}
