{% load static %}

{% include "encabezado.html" %}

{% block content %}
    
    <head>
        <script type="text/javascript" src="{% static 'js/ventas.js' %}"></script>
    </head>

    <body>
        <div id="ventas">
            <h1>Ventas</h1>
        </div>

        <table class="carrito-table">
            <thead>
                <td style="width: 10%;">Código</td>
                <td style="width: 60%;">Detalle</td>
                <td style="width: 10%;">Precio</td>
                <td style="width: 10%;">Cantidad</td>
                <td style="width: 10%;">Total</td>
            </thead>
            <tr> <!--ejemplo-->
                <td>70824</td>
                <td>CANDADO BULIT 40 MM. TRABA LARGA(891102)</td>
                <td>196.0</td>
                <td>1</td>
                <td>196.0</td> 
            </tr>
        </table>
    </body>

{% endblock %}
